.fc-event.de_holiday { position: relative; }
.fc-event.de_holiday div { text-indent: 15px; }

.fc-event.de_holiday .fc-event-title:before {
	display: block;
	content:"g";
	position: absolute;
	left: -13px;
	top: 0;
	font-weight: bold;
	color: #999;
	font-size: 13px;
	line-height: 12px;
}

.fc-event.event.unsinged {
    border: dotted 1px #666;
}

.fc-event.event.unsinged .fc-event-inner {
    background: #fff url("back.png") !important;
    color: #555;
}